# flyctl launch added from .gitignore
**\__pycache__
**\*.pyc
**\*.pyo
**\*.pyd
**\.Python
**\env
**\venv
**\.venv
**\pip-log.txt
**\pip-delete-this-directory.txt
**\.tox
**\.coverage
**\.coverage.*
**\.cache
**\nosetests.xml
**\coverage.xml
**\*.cover
**\*.log
**\.git
**\.mypy_cache
**\.pytest_cache
**\.hypothesis

# Database
**\*.db
**\*.sqlite3

# Uploads folder
**\uploads
!**\uploads\.gitkeep

# Environment variables
**\.env
**\.flaskenv

# IDE
**\.vscode
**\.idea
**\*.swp
**\*.swo

# OS
**\.DS_Store
**\Thumbs.db
fly.toml
